<ng-container>
    <mat-dialog-content>
        <mat-form-field>
            <mat-label>Date de début</mat-label>
            <input matInput  [matDatepicker]="startPicker" [(ngModel)]="startDate"/>
            <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Date de fin</mat-label>
            <input matInput [matDatepicker]="endPicker" [(ngModel)]="endDate" />
            <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
    </mat-dialog-content>
</ng-container>