<div class="div-form">
    <div class="form">
        <h1 class="title-form">Connexion</h1>
        <form action="" class="formulaire">
            
            <div class="input-group">
                <label for="email" class="label-form">Email :</label>
                <input [(ngModel)]="email" name="email" type="email" id="email" placeholder="Entrez votre email" class="input-form" >
                <p>Email:{{email}}</p>
            </div>
            <div class="input-group">
                <label for="password" class="label-form">Mot de passe :</label>
                <input [(ngModel)]="password" name="password" type="password" id="password" placeholder="Entrez votre mot de passe" class="input-form">
            </div>
            <button>Afficher dans la console</button>
            <button (click)="valideInput(email, password)" class="btn-submit">Se Connecter</button>
        </form>
    </div>
</div>