<div class="div-form">
    <div class="form">
        <h1 class="title-form">Connexion</h1>
        <form (ngSubmit)="envoyer()" class="formulaire">
            
            <div class="input-group">
                <label for="email" class="label-form">Email :</label>
                <input [(ngModel)]="email" name="email" type="email" id="email" placeholder="Entrez votre email" class="input-form" data-cy="input-email">
                
            </div>
            <div class="input-group">
                <label for="password" class="label-form">Mot de passe :</label>
                <input [(ngModel)]="password" name="password" type="password" id="password" data-cy="input-password" placeholder="Entrez votre mot de passe" class="input-form">
            </div>
            
            <button type="submit" class="btn-submit" data-cy="btn-submit">Se Connecter</button>
            <button [routerLink]="['/resetpassword']">Reset password</button>
        </form>
    </div>
</div>