<!-- dans cette section on pourra gerez les employé, gérez les magasin, gérez les contrats et générer le planning-->

<div class="button-admin-list">
    <div class="button-admin">
        <div class="button-list">
            @if(role() === "superadmin"){
                <button><a (click)="viewAllEmployer()">Gérez les employers</a></button>
                <button><a href="">Gérez les magasins</a></button>
                <button><a href="">Gérez les contrats</a></button>
                <button><a href="">Générer le planning</a></button>
            } @else if(role() === "admin" || role() === "superadmin") {
                <button><a href="">Voir les demandes de vacance</a></button>
                 
            } @else {
                <p>Vous n'avez pas le droit de voir cette page</p>
            }
            

        </div>
        
    </div>
</div>
